/**
 * Sticky Footer by Ryan Fait
 * http://ryanfait.com/
 */

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	margin: 0 auto -225px;
	min-height: 100%;
}

footer, .push {
	height: 225px;
}

/**
 * Custom CSS by Hannes Riebl
 */

header, footer {
  background-color: #003049;
  -webkit-box-shadow: 0px 1px 10px gray;
     -moz-box-shadow: 0px 1px 10px gray;
          box-shadow: 0px 1px 10px gray;
  color: white;
  overflow: hidden;
}

header {
  padding: 10px 30px;
}

#content {
  padding: 30px;
}

#footer {
  padding: 10px 30px;
  line-height: 100%;
}

#logo {
  width: 200px;
}

h5 {
  font-weight: bold;
}
